table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 4px solid #3C2B57;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }